<div>

    <h1 class="heading">Messages</h1>

    <div>Message count: {{data.topics.length}}</div>

    <a href="#!/newMessage">New message</a>

    <div class="progress progress-striped active" ng-show="isBusy">
        <div class="bar" style="width: 100%;"></div>
    </div>

    <div class="messages">
        <div class="message row" ng-repeat="i in data.topics">
            <a ng-href="#!/message/{{i.id}}">
                <div class="title span10">{{i.title}}</div>
            </a>
            <div class="date span2">{{i.created | date: "medium" }}</div>
            <div class="contents span12">{{i.body}}</div>

            <div class="replies span12">
                <div class="reply" ng-repeat="r in i.replies">
                    <div class="created pull-right">{{r.created | date: "medium" }}</div>
                    <div class="content">{{r.body}}</div>
                </div>
            </div>
        </div>
    </div>
</div>